.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
main.exe.stackdump
main.exe
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
build/differentiator.o
build/fileHandler.o
build/logger.o
build/main.o
build/colorProperties.o
target/diffApp.exe
target/file1.txt
target/file2.txt
